name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  build:
    runs-on: [self-hosted, Windows]
    steps:
    - uses: actions/checkout@v3
      with:
        persist-credentials: false
        submodules: recursive
    - name: make
      run: |
            cd "C:\actions-runner\y\Portal-DS\Portal-DS"
            make
            mkdir "C:\actions-runner\y\Portal-DS\Portal-DS\upload\_nds\PortalDS\levels\"
            copy "C:\actions-runner\y\Portal-DS\Portal-DS\assets\Maps\*.vmf" "C:\actions-runner\y\Portal-DS\Portal-DS\upload\_nds\PortalDS\levels\"
            copy "C:\actions-runner\y\Portal-DS\Portal-DS\Portal-DS.nds" "C:\actions-runner\y\Portal-DS\Portal-DS\upload\"
            cd "C:\actions-runner\y\Portal-DS\Portal-DS"
    - uses:
          actions/upload-artifact@v3
      with:
       name: Portal DS
       path: C:\actions-runner\y\Portal-DS\Portal-DS\upload

    #- name: clean
    #  run: |
    #        cd C:\actions-runner\
    #        Remove-Item -Recurse -force .\Portal-DS\
