name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  build:
    runs-on: [self-hosted, Linux]
    steps:
    - uses: actions/checkout@v3
      with:
        persist-credentials: false
        submodules: recursive
    - name: make
      run: |
            make
            mkdir "./upload/_nds/PortalDS/levels/"
            copy "./assets/Maps/*.vmf" "./upload/_nds/PortalDS/levels/"
            copy "./Portal-DS.nds" "./upload/"
    - uses:
          actions/upload-artifact@v3
      with:
       name: Portal DS
       path: ./upload

    #- name: clean
    #  run: |
    #        cd C:\actions-runner\
    #        Remove-Item -Recurse -force .\Portal-DS\
