name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  build:
    runs-on: [self-hosted, Windows]
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: make
      run: |
      	#docker run --rm devkitpro/devkitarm make
	cd "C:\actions-runner\"

	Remove-Item -Recurse -force .\Portal-DS\
	git clone https://github.com/buchstabenwurst/Portal-DS.git
	cd .\Portal-DS\
        make
    - uses: actions/upload-artifact@v3
      with:
       name: Portal DS
       path: "*.nds"

    - name: clean
      run: |
	cd C:\actions-runner\
	Remove-Item -Recurse -force .\Portal-DS\
